<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653399599267-56s9rh713t0sqej5f7s9mh4c7h64vviv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653399599267-56s9rh713t0sqej5f7s9mh4c7h64vviv</string>
	<key>API_KEY</key>
	<string>AIzaSyDJN5rMm5iJnBqKY_OR6HhUqYfnT5DJ52o</string>
	<key>GCM_SENDER_ID</key>
	<string>653399599267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>boris.Flash-chat-ios</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-bbac4</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-bbac4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653399599267:ios:0c2a1bae2041faa84d7716</string>
</dict>
</plist>